/* custom font start  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* global style start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
p {
  color: #fff;
}
/* body start  */
body {
  background-color: #070708;
  font-family: "Poppins", sans-serif;
}

/* nav start  */
nav {
  background-color: #070708;
  border-bottom: 2px solid #1c1c21;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100%;
}
/* nav container start  */
.nav-cont {
  border-left: 2px solid #1c1c21;
  border-right: 2px solid #1c1c21;
  margin: 0 5%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1 {
  font-size: 33px;
  color: #fff;
  font-weight: 500;
}
.links {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.links a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 20px 30px;
  background-color: #070708;
  border-top: 2px solid #1c1c21;
  border-left: 2px solid #1c1c21;
}
#first-active {
  border-top-left-radius: 10px;
}
#last-active {
  border-right: 2px solid #1c1c21;
  border-top-right-radius: 10px;
}
.links a:hover {
  background-color: #161619;
}
.btn a {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #070708;
  color: #fff;
  text-decoration: none;
  border: 2px solid #1c1c21;
}
.btn a:hover {
  background-color: #161619;
}
/* hero section start  */
.hero {
  width: 100%;
  height: 100%;
  background-color: #070708;
  display: flex;
  flex-direction: column;
}
/* hero text section start  */
.hero-text {
  display: flex;
  justify-content: space-between;
  margin: 3% 8%;
  flex-wrap: wrap;
  align-items: center;
}
/* left text start  */
.left-text {
  display: flex;
  flex-direction: column;
}
.left-text h1 {
  font-size: 45px;
  font-weight: 500;
  padding-right: 50px;
}
.left-text p {
  font-size: 16px;
  color: #62646c;
}
/* right text start  */
.right-text h1 {
  font-size: 35px;
  font-weight: 500;
}
.right-text h1 span button {
  cursor: pointer;
  padding: 13px 40px;
  background-color: #4a2bed;
  border: none;
  border-radius: 25px;
}
/* hero image section start  */
.hero-img {
  display: flex;
  flex-direction: column;
}
.wrapper {
  width: 100%;
  margin-inline: auto;
  position: relative;
  height: 50px;
  background-color: #0e0e10;

  overflow: hidden;
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  position: absolute;
  left: 100%;
  animation-name: scroll;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;
}
.item img {
  width: 25px;
}
.item p {
  color: #d6d0fb;
}
@keyframes scroll {
  to {
    left: -600px;
  }
}
.item-1 {
  animation-delay: calc(20s / 7 * (7 - 1) * -1);
}
.item-2 {
  animation-delay: calc(20s / 7 * (7 - 2) * -1);
}
.item-3 {
  animation-delay: calc(20s / 7 * (7 - 3) * -1);
}
.item-4 {
  animation-delay: calc(20s / 7 * (7 - 4) * -1);
}
.item-5 {
  animation-delay: calc(20s / 7 * (7 - 5) * -1);
}
.item-6 {
  animation-delay: calc(20s / 7 * (7 - 6) * -1);
}
.item-7 {
  animation-delay: calc(20s / 7 * (7 - 7) * -1);
}
/* about section start  */
.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10% 8%;
  gap: 50px;
}
/* about text start  */
.about-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid #161619;
}
.about-text .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-text .text p {
  color: #62646c;
  font-size: 16px;
}
.about-text .text h1 {
  font-size: 45px;
  font-weight: 500;
  padding-right: 50px;
}
.about-text .button {
  padding-bottom: 20px;
}
.about-text .button button {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #070708;
  border: 2px solid #1c1c21;
  cursor: pointer;
}
.about-text .button button a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.about-text .button button:hover {
  background-color: #161619;
}
/* about main container start  */
.about-main {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* image start  */
.about-main .image img {
  width: 90%;
  margin-right: 0;
}
/* sub container start  */
.sub-cont {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 2px solid #161619;

  border-radius: 25px;
}
/* introduction & information start  */
.introduction {
  border-bottom: 2px solid #161619;
}
.introduction,
.information {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
}
.title {
  display: flex;
  gap: 20px;
}
.title img {
  width: 25px;
  height: 100%;
}
.title h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.introduction .desc p {
  font-size: 15px;
  font-weight: 300;
  color: #62646c;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.email,
.phone {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.email h1,
.phone h1 {
  font-size: 18px;
  font-weight: 400;
}
.email p,
.phone p {
  font-size: 15px;
  font-weight: 300;
  color: #62646c;
}
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.main-link {
  display: flex;
  gap: 10px;
  align-items: center;
}
.button-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.button-btn a {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #1c1c21;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #1c1c21;
}
.button-btn a:hover {
  background-color: #070708;
  border: 2px solid #161619;
}
/* services start  */
.services {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 8%;
}
/* services text start  */
.ser-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 3%;
  border-bottom: 2px solid #1c1c21;
}
/* serices title start  */
.ser-title {
  display: flex;
  flex-direction: column;
}
.ser-title h1 {
  font-size: 45px;
  font-weight: 500;
  padding-right: 20px;
}
.ser-title P {
  color: #62646c;
  font-size: 20px;
}
/* services extra start  */
.ser-extra {
  display: flex;
  align-items: center;
  gap: 20px;
}
.arrow {
  background-color: #070708;
  border: 2px solid #1c1c21;
  border-radius: 50px;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow img {
  width: 90%;
  margin-top: 6px;
  background-color: #1c1c21;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  border: 2px solid #1c1c21;
}
.arrow img:hover {
  background-color: #070708;
  border: 2px solid #1c1c21;
}
.ser-btn a {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #1c1c21;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #1c1c21;
}
.ser-btn a:hover {
  background-color: #070708;
  border: 2px solid #161619;
}
/* services container start  */
.ser-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 5% 0;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
/* services text container start  */
.ser-text-cont {
  display: flex;
  flex-direction: column;

  gap: 30px;
}
.ser-title-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ser-title-cont h1 {
  font-size: 35px;
  font-weight: 500;
}
.ser-title-cont h1 span button {
  cursor: pointer;
  padding: 13px 40px;
  background-color: #4a2bed;
  border: none;
  border-radius: 25px;
}
.ser-title-cont p {
  font-size: 15px;
  color: #62646c;
}
/* services sub container start  */
.ser-sub-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ser-sub-cont h1 {
  font-size: 20px;
  font-weight: 500;
}
.ser-box {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #070708;
  border: 2px solid #1c1c21;
  padding: 10px 20px;
  border-radius: 10px;
}
.ser-box:hover {
  background-color: #1c1c21;
}
.ser-box img {
  width: 6%;
}

/* services image container start  */
.ser-img-cont img {
  width: 100%;
}
/* work section start  */
.work {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 6% 8%;
}
/* work text start  */
.work-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 3%;
  border-bottom: 2px solid #1c1c21;
}
/* work title start  */
.work-title {
  display: flex;
  flex-direction: column;
}
.work-title h1 {
  font-size: 45px;
  font-weight: 500;
  padding-right: 20px;
}
.work-title P {
  color: #62646c;
  font-size: 18px;
}
/* work info start  */
.work-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* work button start  */
.work-btn a {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #1c1c21;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #1c1c21;
}
.work-btn a:hover {
  background-color: #070708;
  border: 2px solid #161619;
}
/* work main container start  */
.work-main-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 5% 0;
  width: 100%;
  align-items: center;
}
/* work bpx start  */
.work-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.work-image img {
  width: 100%;
}
/* work box text start  */
.work-box-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work-left-text {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2%;
  flex-direction: column;
}
.work-left-text h1 {
  font-size: 18px;
  font-weight: 400;
  color: #cacaca;
}
.work-left-text p {
  font-size: 14px;
  font-weight: 300;
  color: #797c86;
}
.work-right-text {
  border-bottom: 1px solid #62646c;
}
.work-right-text a {
  background-color: #070708;
  font-size: 15px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #cacaca;
  text-decoration: none;
}
.work-right-text a img {
  width: 13px;
}
/* faq section start  */
.faq {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 6% 8%;
}
/* faq title start  */
.faq-title {
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: flex-start;
}
/* faq subtitle start  */
.faq-sub-title h4 {
  color: #62646c;
  font-size: 18px;
  font-weight: 400;
}
/* faq main title start  */
.faq-main-title h1 {
  font-size: 45px;
  font-weight: 500;
  padding-right: 20px;
}
/* FAQ grid */
.faq-box-cont {
  margin-top: 60px;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* Accordion */
.faq-col details {
  border-bottom: 1px solid #222;
  padding: 22px 22px;
}
.first-left-faq-details {
  border-top: 1px solid #222;
}
.right-faq-details {
  border-top: 1px solid #222;
}
.faq-col summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #cacaca;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  gap: 5px;
}
.left-faq-col {
  border-right: 1px solid #222;
  height: fit-content;
}
.right-faq-col {
  border-left: 1px solid #222;
  height: fit-content;
}

.faq-col summary::-webkit-details-marker {
  display: none;
}

.faq-col p {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 300;
  color: #797c86;
  line-height: 1.6;
  max-width: 90%;
  animation: faqFade 0.3s ease;
}

/* Plus / minus icon */
.icon {
  width: 18px;
  height: 18px;
  border: 1px solid #333;
  border-radius: 50%;
  position: relative;
  transition: transform 0.3s ease;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  background: #aaa;
}

.icon::before {
  width: 8px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon::after {
  width: 1px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Open state */
details[open] .icon {
  transform: rotate(180deg);
}

details[open] .icon::after {
  display: none;
}

/* Animation */
@keyframes faqFade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
